name: "[Go] Docker Build, Push, and Test"

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    secrets:
      DOCKER_HUB_USERNAME:
        required: true
      DOCKER_HUB_PASSWORD:
        required: true

jobs:
  build_push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Clone Go SDK
        uses: actions/checkout@v4
        with:
          repository: phasehq/golang-sdk
          path: golang-sdk

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            phasehq/cli:${{ inputs.version }}
            phasehq/cli:latest
          build-args: |
            VERSION=${{ inputs.version }}

  pull_test:
    name: Test Docker Image
    needs: build_push
    runs-on: ubuntu-latest
    steps:
      - name: Pull versioned image
        run: docker pull phasehq/cli:${{ inputs.version }}

      - name: Test versioned image
        run: |
          echo "Testing phasehq/cli:${{ inputs.version }}"
          FULL_OUTPUT=$(docker run --rm phasehq/cli:${{ inputs.version }} --version)
          echo "Output: $FULL_OUTPUT"
          RETURNED_VERSION=$(echo "$FULL_OUTPUT" | awk '{print $1}')
          if [ "$RETURNED_VERSION" != "${{ inputs.version }}" ]; then
            echo "Version mismatch: Expected ${{ inputs.version }}, got $RETURNED_VERSION"
            exit 1
          fi
          echo "Version check passed"

      - name: Pull latest image
        run: docker pull phasehq/cli:latest

      - name: Test latest image
        run: |
          echo "Testing phasehq/cli:latest"
          FULL_OUTPUT=$(docker run --rm phasehq/cli:latest --version)
          echo "Output: $FULL_OUTPUT"
          RETURNED_VERSION=$(echo "$FULL_OUTPUT" | awk '{print $1}')
          if [ "$RETURNED_VERSION" != "${{ inputs.version }}" ]; then
            echo "Version mismatch: Expected ${{ inputs.version }}, got $RETURNED_VERSION"
            exit 1
          fi
          echo "Version check passed"
